<!DOCTYPE html>
<html>
<head>
<script src="http://documentcloud.github.io/underscore/underscore-min.js"></script>
<script src="http://code.jquery.com/jquery.min.js"></script>
  <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css">
  <link rel="stylesheet" href="style.css">
  <title>Homework week 7 underscore Weather</title>
</head>
<body>
  <article class="weather thunderstorm">  
     <form action="#">
       <input type="text" class="form-control" placeholder="Type a location...">
     </form>
        
    <header class="now">
      <h1>Chicago</h1>
      <h2><span>74</span>&deg;</h2>
    </header>
        
    <ul class="week">

 
  
  <script src="http://code.jquery.com/jquery.min.js"></script>
<script id="weeklyWeather" type="text/template">   
  <li><%= dayName %> <span><%= min %> / <%= max %></span></li>
  </script>   
  <script src="main.js"></script>
    </ul>
  </article>
</body>
</html>